@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
.sidebar{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 20vw;
    background-color: #282A34;
}

.logo {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo_img{
    height: 30px;
    mix-blend-mode: lighten;
    margin-left: 1vw;

}

.logo_text {
    color: white;
    margin-left: 1vw;
    font-family: 'Merienda', cursive;
    font-weight: 100;
    font-size: 25px;
}

.user{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.username{
    color: white;
    font-weight: 100;
}
.ausername{
    color: #3c3f51;
    font-weight: 100;
    font-size: small;

}

.sidebar_link {
    color: white;
    padding:5px;
    letter-spacing: 0.9px;
    font-family: 'Open Sans Condensed' , sans-serif;
}
.menu{
    flex: 1;
    margin-left: 3vw;
    padding-bottom: 35px;
}

.spacer{
    background-color: #3c3f51;
    width: 80%;
    margin: auto;
    height: 1px;
}
.avatar{
    height: 75px;
    width: 75px;
    border-radius: 10000px;
    padding: 2.5px;
}
.avatar_border{
    height: 80px;
    border: solid 0.1em transparent;
    border-radius: 1000px;
    background-image: linear-gradient(#282A34,#282A34), 
                      linear-gradient(to right, #E2336B, #Fcac46);
    background-origin: border-box;
    background-clip: content-box, border-box;

}
.info{
    display: flex;
    flex-direction: row;
}
.info_lower{
    color: #3c3f51;
    font-size: x-small;
    letter-spacing: 0.9px;
    font-family:  sans-serif;
    font-weight: 100;
}
.info_upper{
    color: white;
    font-size: small;
    letter-spacing: 0.9px;
    font-family:  sans-serif;
    font-weight: 100;
}
.ver_spacer{
    width: 1px;
    height: 5vh;
    background-color: #3c3f51;
    margin-left: 1vw;
    margin-right: 1vw;
}
.logout{
    flex: 1;
    margin-left: 3vw;
    color: white;
    padding: 5px;
    margin-top: 2vh;
    letter-spacing: 0.9px;
    font-family: 'Open Sans Condensed' , sans-serif;

}

